<h1>Edit Spending</h1>

<%= form_with model: @spending, url: spending_path(@spending), method: :patch, local: true do |f| %>
  <%= f.text_field :description %>
  <%= f.number_field :amount %>
  <%= f.select :category, Spending::CATEGORIES %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<% end %>