<h1>Spendings</h1>
<%= form_tag spendings_path, method: :get do %>
  <%= select_tag :categories, options_for_select(Spending::CATEGORIES,
                                                 params[:categories]),
                                                 include_blank: "all",
                                                 data: { placeholder: 'categories'}%>
  <%= label :min_amount, "Amount from:" %>
  <%= text_field_tag :min_amount %>
  <%= label :max_amount, "Amount to:" %>
  <%= text_field_tag :max_amount %>
  <%= submit_tag "Search" %>
<% end %>
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th>Description</th>
    <th>Amount</th>
    <th>Category</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @spendings.each do |spending| %>
    <tr>
      <td><%= spending.description %></td>
      <td><%= spending.amount %></td>
      <td><%= spending.category %></td>
      <td><%= link_to "Edit", edit_spending_path(spending), class: 'btn btn-primary' %></td>
      <td><%= button_to 'Remove', spending, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
  <td>Total value</td>
  <td><%= @spendings.all.pluck(:amount).sum %></td>
  </tbody>

</table>

<p>
  <%= link_to "Create New To-Do Item", new_spending_path, class: 'btn btn-primary' %>
</p>